@inherits LayoutComponentBase

<main>
	<div id="header">
		<img class="logo" src="https://static.netplanety.com.br/img/logos/netplanety.png" alt="The company logo" />
	</div>

	<div id="content">
		@Body
	</div>
</main>